@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500;700&display=swap");
:root {
  --font-family-2: "Open Sans", sans-serif;
  --font-family-1: "Roboto", sans-serif;
  --color-black: black;
  --color-white: white;
  --color-blue: rgb(33, 10, 83);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-2);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

h1 {
  font-family: var(--font-family-1);
  font-weight: bold;
  color: var(--color-white);
}

h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  display: inline;
}
h4 {
  font-weight: bold;
}
h5 {
  font-weight: bold;
}
article {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 2rem;
  border-radius: 5px;
}

.container {
  margin: 1rem auto 0 auto;
  padding: 0 2%;
  max-width: 1440px;
  border: 1px solid var(--color-black);
}

.dashboard-wrapper {
  width: 100%;
}

.city-date-wrapper {
  display: flex;
  align-items: center;
}

.city-weather {
  border: 1px solid var(--color-black);
  margin-bottom: 3rem;
  padding: 1.5rem 0.5rem;
}
.weather-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 3rem;
}

.forecasts {
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}
header {
  background-image: linear-gradient(
    to right,
    rgba(33 10, 83, 0),
    rgba(33, 10, 83, 1)
  );
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .weather-wrapper {
    flex-direction: row;
    justify-content: start;
  }

  .city-weather {
    margin-top: 2rem;
  }
}
